* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80vw;
}

.grid {
    width: 534px;
    height: 534px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px black solid;
    margin: 1px;
}

.square:hover {
    background-color: brown;
}