* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #272e38;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-size: small;
    font-weight: bold;
}

.container {
    width: 80vw;
}


.title {
    text-align: center;
    padding: 1em;
    color: #fff;
}
header, section, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer {
    background-color: #f7f9fc;
}

header .container, footer .container {
    text-align: center;
}

header {
    height: 15vh; 
}

header h1 {
    font-family: 'VT323', monospace;
    font-size: 60px;
}

section {
    height: 75vh;
}

section .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
}

#controls, #grid {
    background-color: #7a8189;
    padding: 1em;
    border-radius: 10px;
}

#controls {
    width: 13vw;
    height: 60vh;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#grid {
    width: 40vw;
    height: 40vw;
    border: 0.5px #000 solid;
    display: flex;
    flex-wrap: wrap;
}

#choose-color {
    display: flex;
    align-items: center;
    gap: 10px;
}

#grid-size {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    border: 0.5px black solid;
}

.square:hover {
    background-color: #000;
}

 input, button {
    width: 100%;
    margin: .2em 0;
}

#color-picker {
    width: 24px;
    height: 24px;
}

button {
    border: 2px #f7941d solid;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 15px;
    background-color: #fff;
}

button:hover {
    background-color: rgb(247, 148, 29, .2); 
    color: #fff; 
}

.clicked {
    border: 2px #000 solid;
    background-color: #f7941d;
    color: #fff;
}

.divider {
    width: 100%;
    border: 0.5px black dashed;
}

footer {
    height: 10vh;
}